@{
    ViewData["Title"] = "Home Page";
}

<h1>Odds, Evens and Canvases - JavaScript</h1>

<p class="odd">This is how odd numbers will be styled</p>
<p class="even">This is how even numbers will be styled</p>

<h2>Multiplication Table</h2>
<table id="table"></table>

<h2>Canvas with dynamic lines</h2>
<canvas class="canvasLines"></canvas>

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus placeat odit dolorem molestiae, similique a
    possimus beatae eum cum fugit assumenda quia ducimus porro quas veniam consequuntur corporis vero voluptas.

<canvas class="canvasLines" style="height: 100px; position: relative;"></canvas>
    RELATIVE
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!

<canvas class="canvasLines" style="width: 100px; position: absolute;"></canvas>
    ABSOLUTE
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!

<canvas class="canvasLines" style="width: 100px; position: fixed;bottom: 10px;left: 10px;"></canvas>
    FIXED
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!

<canvas class="canvasLines" style="width: 100px; position: float;border: 1px solid #110000;"></canvas>
    FLOAT
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat optio animi quos dolorum quibusdam veniam
    praesentium, enim saepe dolor natus ea? Deleniti quisquam totam assumenda alias, vero neque quas!

<script src="script.js"></script>