@if(isArticleModifyOpen){
    <app-article-form 
    [article]="currentArticle!" 
    (close)="onArticleModifyCancel()"
    (save)="onArticleModifySave($event)"
    (cancel)="onArticleModifyCancel()">
    </app-article-form>
}

<div class="container">
    <div class="half">
        <button type="button" class="button-normal" (click)="onArticleAdd()">Add Article</button>
        <ul>
            @for(article of articlesService.getArticles(); track article.id){
            <li>
                <app-article 
                [isSelected]="article.id === currentId"
                [article]="article" 
                (selectedId)="onSelect($event)">
                </app-article>
            </li>
            }
        </ul>
    </div>

    <div class="half">
        @if (currentId){
            <app-article-full 
            [article]="articlesService.getArticle(currentId)"
            (modifyPress)="onArticleModifyStart()"
            (removePress)="onArticleRemove()">
            </app-article-full>
        }
        @else {
            <p>Click on an article to see more details</p>
        }
    </div>
</div>
