@page
@model RazorCookies.Pages.Categories.DeleteModel

@{
    ViewData["Title"] = "Delete";
    int articleCount = Model.ArticleCount;
    string articlesListed = Model.ArticlesListed;
    string message = articleCount switch
    {
        0 => "No articles use this as their category.",
        1 => $"1 article uses this as its category and will be DELETED! It is: {articlesListed}",
        _ => $"{articleCount} articles use this as their category and will be DELETED! They are: {articlesListed}"
    };
}
<h1>Delete</h1>

<h3>Are you sure you want to delete this? @message</h3>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Category.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
