@model IEnumerable<WebAsp8RazorDemo.Models.ViewModels.StudentViewModel>
@{
    ViewBag.Title = "Another Index";
}

<h2>@ViewBag.Title</h2>
<table>
    @foreach (var item in Model)
    {
        //Html.RenderPartial("_Student", item);
        await Html.RenderPartialAsync("_Student", item);
    }
</table>