
@{
    ViewData["Title"] = "Guess the Number";
}

<h2>@ViewData["Title"]</h2>

<div class="result">
    @ViewBag.Result
</div>

<style>
    .result {
        font-size: 1.5em;
        color: @ViewBag.Color;
        font-weight: @ViewBag.FontWeight;
    }
</style>